body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav {
    background: #444;
    color: #fff;
    padding: 0.5rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

.section-image {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.image-gallery img {
    width: calc(25% - 1rem); /* 4 images per row */
    max-width: 350px; /* Adjust max width to increase or decrease the size of the images */
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 0.5rem;
    text-align: left;
}

thead {
    background: #f4f4f4;
}

footer {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}
